.save{

padding:30px;

}

.save__header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.save__title{

font-size:42px;

color:#0f5b57;

}

.save__count{

padding:10px 18px;

background:#0f5b57;

color:white;

border-radius:10px;

}

.save__search{

margin-bottom:30px;

}

.save__search input{

width:100%;

padding:18px;

border:none;

border-radius:12px;

font-size:16px;

}

.save__list{

display:grid;

grid-template-columns:
repeat(
auto-fill,
minmax(340px,1fr)
);

gap:24px;

}

.save-task{

background:#efefef;

border-radius:18px;

overflow:hidden;

}

.save-task__top{

height:18px;

background:#df4b21;

}

.save-task__top--green{

background:#2cb35f;

}

.save-task__content{

padding:25px;

}

.save-task__title{

font-size:28px;

font-weight:700;

margin-bottom:12px;

}

.save-task__desc{

color:#666;

margin-bottom:20px;

}

.save-task__bottom{

display:flex;

justify-content:space-between;

}

.save-task button{

border:none;

padding:12px 20px;

border-radius:10px;

background:#0f5b57;

color:white;

cursor:pointer;

}